@import url('https://fonts.googleapis.com/css2?family=bungee:wght@400;700&family=Nanito:wght@400;700&display=swap');

:root {
  --yellow: #FFC335;
  --ink: #0e0d0d;
  --teal: #10b9ad;
  --pink: #ff4ba8;
  --radius: 20px;
  --shadow: 0 10px 30px rgba(0, 0, 0, 15);
  --font-heading: 'Bungee', cursive;
  --font-body: 'Nanito', sans-serif;
}

* {boxing-sizing: boarder-box}
body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--ink);
  background: var(--yellow);
  color: var(--ink);
}

a {
  color: inherit; 
  text-decoration:none;
}
